/******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
body{
  font-size: 1.75em;
}
h3 {
    margin: 0em;
}
div#container {
    margin-top: 0em;
}
.entry-content td, .article-footer td {

    padding-top: 0px;
    padding-bottom: 0px;
}
.entry-content, .article-footer {
    padding: 0em 1.5em .5em 0em;
}

  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    border: 0px !important;
    filter:none !important;
    -ms-filter: none !important;
  }

  a, a:visited {

  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

    @page {
      margin: 0.5cm;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
.noprint, header, footer{
  display: none;
}
.resume table{
  font-size: 50%;
}
    // hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    nav {
      display: none;
    }
